<div class="page-header">
  <h2>Task List</h2>
</div>

<% @task_list.each do |task| %>
<div class="row">
  <div class="col-md-12">
    <h3><a href="/show"><%= task %></a></h3>
  </div>
</div>
<% end %>
