<div class="page-header">
  <h2>Task Details</h2>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" width = "200">
    <h3>Ryan Rennaker</h3>
  </div>
  <div class="col-md-4">
    <h3>Send Rugby Drills</h3>
    <p class="lead">Due: Friday, February 7</br>
    Time: 5:00 PM</p>
    <p>Hey Much - I really appreciate you putting this stuff together. We need to work on attacking and defense. We've mostly been doing fitness and some passing drills but would be great to make it more dynamic. - Ryan
    </p>
  </div>
  <div class="col-md-4">
    <h3>Status: Accepted</h3>
    <p class="lead">Completed: Yes </p>
    </p>
  </div>
</div>
